<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>School App</title>
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body data-ng-app="schoolApp">
    @RenderBody()
<!-- jQuery -->
<script src="Scripts/jquery-1.9.1.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="Scripts/bootstrap.js"></script>
<!-- Underscore -->
<script src="Scripts/underscore.js"></script>


<!-- Angular -->
<script src="Scripts/angular.js"></script>
<script src="Scripts/angular-route.js"></script>
<script src="Scripts/angular-sanitize.js"></script>
<script src="Scripts/angular-animate.js"></script>
<script src="Scripts/angular-ui/ui-utils.js"></script>
<script src="Scripts/angular-ui/ui-bootstrap-tpls.js"></script>

<script src="Scripts/application/index.js"></script>
<script src="Scripts/application/Student/index.js"></script>
<script src="Scripts/application/Student/controller/index.js"></script>
<script src="Scripts/application/Student/model/index.js"></script>
<script src="Scripts/application/Student/controller/students.js"></script>
<script src="Scripts/application/Student/model/student.js"></script>
<script src="Scripts/application/course/index.js"></script>
<script src="Scripts/application/course/controller/index.js"></script>
<script src="Scripts/application/course/model/index.js"></script>
<script src="Scripts/application/course/model/course.js"></script>
<script src="Scripts/application/student/controller/StudentCreate.js"></script>
<script src="Scripts/application/student/controller/studentView.js"></script>
<script src="Scripts/application/course/controller/courses.js"></script>
<script src="Scripts/application/student/controller/studentEdit.js"></script>
<script src="Scripts/application/course/controller/create.js"></script>

</body>
</html>
